---
import Layout from "../layouts/Layout.astro";


---

<Layout>

<main class="auth-container">
  <div class="auth-image">
    <img src="/image/bannerAuth.png" alt="Shopping cart and phone" />
  </div>
  <div class="auth-form">
    <h1>Log in to Exclusive</h1>
    <p>Enter your details below</p>
    <form method="post" id="login-form">
      <input type="text" placeholder="Email or Phone Number" id="email" />
      <input type="password" placeholder="Password" id="password" />
      <div class="login-actions">
        <button type="submit" class="btn-primary">Log In</button>
        <a href="/signup" class="forgot-pass">Create Account</a>
        <a href="#" class="forgot-pass">Forgot Password?</a>
      </div>
    </form>
  </div>
</main>

</Layout>

<style>
  /* Copia los estilos de signup.astro o ponlos en un CSS global */
  .auth-container {
    display: flex;
    align-items: center;
    min-height: 80vh;
    gap: 5%;
  }
  .auth-image {
    flex: 1.2;
    /* background-color: #cbe4e8;  */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 80%;
  }
  .auth-image img {
    max-width: 80%;
  }
  .auth-form {
    flex: 1;
    padding: 0 10%;
  }
  .auth-form h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    outline: none;
  }

  .login-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-primary {
    background: #db4444;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 4px;
    cursor: pointer;
  }
  .forgot-pass {
    color: #db4444;
    text-decoration: none;
  }
</style>
<script src="../script/login.js"></script>